<%- include('partials/header') -%> <%- include('partials/nav') -%>

<div class="wrapper">
	<div id="options">
		<form id="optionForm">
			Options
			<label for="visGaps"
				><br />
				<input
					type="checkbox"
					id="visGaps"
					onchange="dataDisplay()"
					checked
				/>
				Visibility Gaps</label
			>
		</form>
	</div>
	<div id="sites"></div>
	<div id="PRN"></div>
	<div id="dataWrapper"></div>
</div>
<script src="../js/main.js"></script>
<script src="../js/outage.js"></script>
<script>
	document.getElementById("outage").classList.add("active");
</script>

<%- include('partials/footer') -%>
