<nav>
	<ul>
		<li><a id="outage" href="/outage">Outage</a></li>
		<li><a id="timeline" href="/timeline">Timeline</a></li>
		<li><a id="map" href="map">Map</a></li>
		<li>
			<a id="vehicleSettings" href="/vehicleSettings">Vehicle Settings</a>
		</li>

		<li style="float: right">
			<a id="upload" href="/">Upload</a>
		</li>
	</ul>
</nav>
